.footer {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
  width: 100%;
  .heart {
    color: $red;
  }
}

.space-left-7 {
  margin-left: 7px;
}

.space-left-15 {
  margin-left: 15px;
}
