.nav-menu {
  .nav-item {
    .filter {
      &.nav-link.active {
        background-color: $green;
        border: 1px solid $green;
      }
    }
  }
}

@include media-responsive(max-width, 991px) {
  .nav-menu {
    .nav-item {
      .filter {
        font-size: 0.9rem;
      }
    }
  }
}
