.nav-menu {
  .nav-item {
    .filter {
      &.nav-link {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
        &.active {
          background-color: $green;
          border: 1px solid $green;
        }
      }
    }
  }
}

@include media-responsive(max-width, 991px) {
  .nav-menu {
    .nav-item {
      .filter {
        font-size: 0.85rem;
      }
    }
  }
}
