@import './theme';

body {
  background-color: $black;
}

.no-border-radius {
  border-radius: 0%;
}
.white {
  color: $white;
}

.bg-black {
  background-color: $black !important;
}

.mt-6 {
  margin-top: 6px;
}
.mt-100 {
  margin-top: 100px;
}
