@import './theme';

body {
  background-color: $black;
}
main {
  min-height: 80vh;
}

.no-border-radius {
  border-radius: 0%;
}
.white {
  color: $white;
}

.bg-black {
  background-color: $black !important;
}
.mt-100 {
  margin-top: 100px;
}
